.button {
  width: 100%;
  display: inline-flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-tertiary);
}

.button button {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-text-secondary);
  background-color: var(--color-background-lightgray);
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}

.button button:hover {
  opacity: 0.8;
}

.button svg {
  color: var(--color-text-link);
  margin-right: 0.2em;
}

.iframe {
  width: 100%;
  border: none;
}

